*{
    padding:0%;
    margin: 0%;
    
}

body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
    overflow-y: auto; /* Enable vertical scrolling if needed */
}


header{
    
      padding:2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.purple-text{
    color:indigo;
}

#header-signup{

    display: flex;
}

.purple-button{

    background-color:indigo;
    border: none;
    color: white;
    font-weight: bold;
    padding: 1%;
    width:10vw;
}

#search-content-homepage{
    background-image: url("img1.avif");
    background-repeat: no-repeat;
    background-size:100%;
    background-position-y: center;
  
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
    color: white;
    font-weight: bolder;
}

#search-content-homepage-text{

   
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#animal-card-template{
    position:relative;
   
    width:80vw;
    margin-right:auto;
    margin-left: auto;
    top:-10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card1{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height:25vh;
    width:40vw;
    border-radius: 5%;
    border: solid;
    border-color: rgb(198, 190, 190);
    margin:1%;
    text-align:center;
    
    
}

#finding-pet{
    text-align: center;
}
#pet-with-name{
    display: flex;
    justify-content: space-evenly;
    text-align: center;

    margin-top: 5%;
}

.pet1{
    height:40vh;
    width:30vw;
    border-color: black;
    border-radius: 5%;
    border: solid;
    margin:1%;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    background-color: white;

}

footer{
    background-color: indigo;
    color:white;
    width:100vw;
    
    margin-top:5vh;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#footer-written{
    display: flex;
    justify-content: space-evenly;
    height:20vh;
    padding: 2%;
}

#footer-signup{

    background-color: white;
    color: indigo;

     padding: 1%;
     text-align: center;
     width:30vw;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
}

#dark-footer{

    background-color: rgb(34, 4, 52);
    text-align: center;
    height: 10vh;
    padding-top: 1%;
}


.card1-img{

    height:20vh;
    width:20vw;
}


#search-bar{

    width:50vw;
    height: 5vh;
    
}

.pet1-img{

    height: 30vh;
    width:30vw;
    border-radius: 5%;
    padding-bottom: 5%;
}

#planning-to-adopt-section{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top:10vh;
}

.planning{

    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height:45vh;
}

.white-purple-button{

    
    background-color: white;
    height:7vh;
    width:15vw;
    padding: 1%;
    border-radius:20px;
    border-color: indigo;
    border-style: solid;
}

ul{
    list-style: none;
}

.purple-block{

    width:100vw;
    height: 5vh;
    background-color: indigo;
}